.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-opcao{
  min-width: 20rem;
  margin: 1em;
}

.botao{
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .card-opcao{
    min-width: 1em;
    width: 100%;
    margin: 1em 0em;
  }
}
