<mat-card>
  <mat-card-title>
    Inicio
  </mat-card-title>
  <mat-card-subtitle>
    Informações importantes
  </mat-card-subtitle>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="container">
      <mat-card class="card-opcao">
        <mat-card-title>
          Próximo agendamento
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <p>
            <strong>Ana Júlia</strong><br>
            24/09/2021 às 14:00
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Qtd. agendamentos hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h2>5</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Qtd. atendidos hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h2>2</h2>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-card-content>
</mat-card>
