<mat-card>
  <mat-card-title>
    Inicio
  </mat-card-title>
  <mat-card-subtitle>
    Informações importantes
  </mat-card-subtitle>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="container">
      <mat-card class="card-opcao">
        <mat-card-title>
          Próximo agendamento
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{cliente}}</h1>
          <p>
            {{dataHora |  date:'dd/MM/yyyy HH:mm'}}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Agendamentos hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{agendados}}</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Atendidos hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{atendidos}}</h1>
        </mat-card-content>
      </mat-card>


      <mat-card class="card-opcao">
        <mat-card-title>
          Cancelados hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{cancelados}}</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Confirmação pendente hoje
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{pendentes}}</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-opcao">
        <mat-card-title>
          Faltas
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <br>
          <h1>{{falta}}</h1>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-card-content>
</mat-card>
