<app-cabecalho (logouted)="realizouLogout()" [logado]="logado" ></app-cabecalho>
<div class="conteudo">
  <app-login *ngIf="!logado" (login)="realizouLogin()" ></app-login>
  <router-outlet  *ngIf="logado"></router-outlet>
</div>

<button mat-fab *ngIf="logado"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    class="menu-flutuante "
    color="primary"
  >
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </button>
  <button mat-menu-item routerLink="/agendamento">
    <mat-icon>calendar_today</mat-icon>
    <span>Agendamentos</span>
  </button>
  <button mat-menu-item routerLink="/servico">
    <mat-icon>business_center</mat-icon>
    <span>Serviços</span>
  </button>
</mat-menu>
