.container-tabela {
  min-width: 95%;
  max-width: 100%;
  overflow: auto;
}
.tabela {
  width: 100%;
  word-wrap:break-word;
}
.tabela td{
  margin:1em
}

.container{
  margin-top: 1em;
}
.linha-funcao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
form{
  width: 100%;
}

.direita{
  width: 100%;
  text-align: right;
}
.input{
  width: 100%;
}
.botao{
  margin-left: 1em;
}

